%h1 Main#index
%p Find me in app/views/main/index.html.haml

= controller.controller_path
= controller.action_name

%button{type:"button",class:"btn btn-success"}Button

%br

= render(partial: "link")